
/* ### -- -- -- -- -- Shoutbox WBB Styles -- -- -- -- -- ### */

/* 

File: shoutbox.css 
Copyright 2009-2011 by WCF Solutions. 

*/

/* ### -- -- -- -- -- General -- -- -- -- -- ### */

#shoutboxEntryAddForm {
	width: 95%;
	white-space: nowrap;
}

#shoutboxContent {
	overflow: auto;
	height: 175px;
}

#shoutboxFormLayout-1 {
	width: 100%;
}

#shoutboxFormLayout-2 #shoutboxUsername {
	width: 15%;
}

#shoutboxFormLayout-2 #shoutboxMessage {
	width: 85%;
}

.shoutboxWhisper {
	background-color: #F2F2F2;
}

/* ### -- -- -- -- -- EOF -- -- -- -- -- ### */
